<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add person</title>
</head>
<body>
<form action="#" th:action="@{/person/add}" th:object="${person}" method="post">

            <label> ID: </label>
            <input type="number" th:field="*{id}" />
            <br/>
            <label> Name: </label>
            <input type="text" th:field="*{name}" />
             <br/>
                <label> Age: </label>
                <input type="number" th:field="*{age}" />
                <br>
                <label> Salary: </label>
                <input type="number" th:field="*{salary}" />
                <br>

            <input type="submit" value="Submit" />

</form>
</body>
</html>