<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Person</title>
</head>
<body>
<tbody>
<tr th:each="person: ${people}">
    <br>
    <b>---------------------------------</b>
    <br>
    <b> ID: </b> <td th:text="${person.id}" />
    <br>
    <b> Name: </b> <td th:text="${person.name}" />
    <br>
    <b> Age: </b> <td th:text="${person.age}" />
    <br>
    <b> Salary: </b> <td th:text="${person.salary}" />
    <td>
        <form th:action="@{/person/all}" th:object="${person}" method="post">
            <input type="submit" value="Delete"/>
        </form>
    </td>

</tr>

</tbody>
</body>
</html>